<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stkaskin.restaurantmanager">

    <application
        android:allowBackup="true"
        android:launchMode = "singleTop"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity
            android:name=".Views.Shared.Splash"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".Views.Extra.ExtraSelectPage"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".Views.Listeler.TableList_A"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".Views.Listeler.ActiveOrders"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".Views.Shared.AdminPage"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".Views.Listeler.ProductList"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".Views.Listeler.ExtraList"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".Views.Listeler.CategoryList"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".Views.Listeler.PersonList"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".Views.Order.OrderCategoryProductExtras"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".PersonYetki"
            android:exported="false" />
        <activity
            android:name=".Views.Order.OrderCategoryProductsList"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".Views.Order.OrderCategoryList"
            android:launchMode = "singleTop"
            android:exported="false" />
        <activity
            android:name=".Views.Order.OrderProductsList"
            android:launchMode = "singleTop"
            android:exported="false" />
        <activity
            android:name=".Views.Login"
            android:launchMode = "singleTop"
            android:exported="false" />
        <activity
            android:name=".Views.Extra.ExtraAdd"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".Views.Category.CategoryAdd"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".Views.Product.Product_Add"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".Views.Table.TableAdd"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".Views.Table.TableList"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".Views.Person.PersonAdd"
            android:launchMode = "singleTop"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:launchMode = "singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>